<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="orbbec_astra"
               params="parent_link xyz rpy
                       use_gpu:=false
                       tf_prefix:=None
                       topic:=camera/depth/points
                       frame_id:=depth">

    <xacro:if value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="" />
    </xacro:if>
    <xacro:unless value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="${tf_prefix}_" />
    </xacro:unless>

    <link name="${tf_prefix_ext}orbbec_astra_link">
      <visual>
        <geometry>
            <mesh filename="file://$(find components_description)/meshes/orbbec_astra.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="-0.01 0.0 0.025" rpy="${pi/2} 0.0 ${pi/2}"/>
        <material name="DarkGrey"/>
      </visual>

      <collision>
        <geometry>
          <box size="0.165 0.04 0.05" />
        </geometry>
        <origin xyz="-0.01 0.0 0.025" rpy="0.0 0.0 ${pi/2}"/>
      </collision>

      <inertial>
          <mass value="0.105" />
          <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
      </inertial>
    </link>

    <link name="${tf_prefix_ext}orbbec_astra_depth_link"></link>
    <link name="${tf_prefix_ext}${frame_id}"></link>

    <joint name="${parent_link}_to_${tf_prefix_ext}orbbec_astra_link_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="${tf_prefix_ext}orbbec_astra_link" />
    </joint>

    <joint name="${tf_prefix_ext}orbbec_astra_depth_link_joint" type="fixed">
      <origin xyz="0.01 0.0 0.035" rpy="0.0 ${pi/2} 0.0" />
      <parent link="${tf_prefix_ext}orbbec_astra_link" />
      <child link="${tf_prefix_ext}orbbec_astra_depth_link" />
    </joint>

    <joint name="${tf_prefix_ext}orbbec_astra_depth_link_refference_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="${pi/2} ${-pi/2} 0.0" />
      <parent link="${tf_prefix_ext}orbbec_astra_depth_link" />
      <child link="${tf_prefix_ext}${frame_id}" />
    </joint>

    <gazebo reference="${tf_prefix_ext}orbbec_astra_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="${tf_prefix_ext}${frame_id}">
      <sensor type="depth" name="${tf_prefix_ext}orbbec_astra_camera">
        <always_on>1</always_on>
        <update_rate>10</update_rate>

        <camera name="${tf_prefix_ext}camera">
          <distortion>
            <k1>0.07</k1>
            <k2>0.00</k2>
            <k3>0.00</k3>
            <p1>0.00</p1>
            <p2>0.00</p2>
            <center>0.0 0.0</center>
          </distortion>
        </camera>

        <plugin name="plugin_name" filename="libgazebo_ros_camera.so">
          <ros>
            <namespace>${tf_prefix_ext}orbbec_astra_camera</namespace>
            <argument>custom_camera/image_raw:=rgb/image_raw</argument>
            <argument>custom_camera/image_depth:=depth/image_raw</argument>
            <argument>custom_camera/camera_info:=rgb/camera_info</argument>
            <argument>custom_camera/camera_info_depth:=depth/camera_info</argument>
            <argument>custom_camera/points:=depth/points</argument>
          </ros>

          <camera_name>${tf_prefix_ext}camera</camera_name>
          <frame_name>${tf_prefix_ext}${frame_id}</frame_name>
          <hack_baseline>0.07</hack_baseline>

          <min_depth>0.6</min_depth>
          <max_depth>8.0</max_depth>
        </plugin>
      </sensor>
    </gazebo> 
  </xacro:macro>
</robot>