<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ouster_os1_32" params="xyz rpy use_gpu:=false prefix:=front topic:=laser/scan">
    <xacro:if value="${use_gpu}">
      <xacro:property name="ray_type" value="gpu_ray" />
      <xacro:property name="plugin_file_name" value="libgazebo_ros_gpu_laser.so" />
    </xacro:if>
    <xacro:unless value="${use_gpu}">
      <xacro:property name="ray_type" value="ray" />
      <xacro:property name="plugin_file_name" value="libgazebo_ros_laser.so" />
    </xacro:unless>

    <link name="os_sensor">
      <visual>
        <geometry>
          <mesh filename="package://ros_components_description/meshes/ouster_os1_32.stl" scale="1 1 0.65" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
        <material name="Grey"/>
      </visual>

      <collision>
        <geometry>
          <cylinder radius="${0.0753/2}" length="0.0435" />
        </geometry>
        <origin xyz="0 0 ${0.0435/2}" rpy="0 0 0"/>
      </collision>

      <inertial>
          <mass value="0.447" />
          <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
      </inertial>
    </link>

    <link name="os_laser"></link>

    <joint name="body_link_to_os_sensor_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="body_link" />
      <child link="os_sensor" />
    </joint>

    <joint name="os_laser_joint" type="fixed">
      <origin xyz="0 0 0.023" rpy="0 0 0" />
      <parent link="os_sensor" />
      <child link="os_laser" />
    </joint>

    <gazebo reference="os_sensor">
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="os_laser">
      <sensor type="ray" name="ouster_os1_32_sensor">
        <pose>0 0 0.0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>1024</samples>
              <resolution>1</resolution>
              <min_angle>-${pi}</min_angle>
              <max_angle>${pi}</max_angle>
            </horizontal>
            <vertical>
              <samples>32</samples>
              <resolution>1</resolution>
              <min_angle>-${25.5/180*pi}</min_angle>
              <max_angle>${25.5/180*pi}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${0.0753/2+0.01}</min>
            <max>100.0</max>
            <resolution>0.003</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0008</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_block_laser_controller" filename="libgazebo_ros_block_laser.so">
          <topicName>${topic}</topicName>
          <frameName>os_laser</frameName>
          <gaussianNoise>0.0008</gaussianNoise>
          <updateRate>10</updateRate>
        </plugin>
      </sensor>
    </gazebo> 
  </xacro:macro>
</robot>