<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rplidar_s1"
               params="parent_link xyz rpy
                       use_gpu:=false
                       tf_prefix:=None
                       topic:=scan
                       frame_id:=laser
                       simulation_engine:=gazebo-classic">

    <xacro:if value="${use_gpu}">
      <xacro:property name="ray_type" value="gpu_ray" />
      <xacro:property name="plugin_file_name" value="libgazebo_ros_gpu_laser.so" />
    </xacro:if>
    <xacro:unless value="${use_gpu}">
      <xacro:property name="ray_type" value="ray" />
      <xacro:property name="plugin_file_name" value="libgazebo_ros_laser.so" />
    </xacro:unless>

    <xacro:if value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="" />
    </xacro:if>
    <xacro:unless value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="${tf_prefix}_" />
    </xacro:unless>

    <joint name="${parent_link}_to_${tf_prefix_ext}rplidar_s1_link_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="${tf_prefix_ext}rplidar_s1_link" />
    </joint>

    <link name="${tf_prefix_ext}rplidar_s1_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find ros_components_description)/meshes/rplidar_s1.stl" scale="0.0001 0.0001 0.0001" />
        </geometry>
        <origin xyz="0.0 0.0 ${0.051/2.0}" rpy="0.0 0.0 -${pi/2.0}"/>
        <material name="DarkGrey"/>
      </visual>

      <collision>
        <geometry>
          <cylinder radius="${0.0555/2.0}" length="0.051" />
        </geometry>
        <origin xyz="0.0 0.0 ${0.051/2.0}" rpy="0.0 0.0 0.0"/>
      </collision>

      <inertial>
        <mass value="0.105" />
        <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
      </inertial>
    </link>

    <joint name="${tf_prefix_ext}rplidar_s1_to_${tf_prefix_ext}${frame_id}_joint" type="fixed">
      <origin xyz="0 0 0.04" rpy="0.0 0.0 0.0" />
      <parent link="${tf_prefix_ext}rplidar_s1_link" />
      <child link="${tf_prefix_ext}${frame_id}" />
    </joint>

    <link name="${tf_prefix_ext}${frame_id}"></link>

    <gazebo reference="${tf_prefix_ext}${frame_id}">
      <sensor type="${ray_type}" name="${tf_prefix_ext}rplidar_s1_sensor">
        <pose>0 0 0.04 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>9200</samples>
              <resolution>1</resolution>
              <min_angle>-${pi}</min_angle>
              <max_angle>${pi}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${0.051/2+0.03}</min>
            <max>40.0</max>
            <resolution>0.03</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.001</stddev>
          </noise>
        </ray>
        <plugin name="${ray_type}" filename="${plugin_file_name}">
          <topicName>${topic}</topicName>
          <frameName>${tf_prefix_ext}${frame_id}</frameName>
        </plugin>
      </sensor>
    </gazebo> 

    <gazebo reference="${tf_prefix_ext}rplidar_s1_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

  </xacro:macro>
</robot>